.fourth-block__btn_big {
  border: 1px solid #04F1FF;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 41px;
  color: #04F1FF;
  padding: 6px 0;
}


