.first-block__title {
  font-family: 'TippyToes Bold', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 150px;
  line-height: 179px;
  color: #FFFFFF;
  text-align: center;
  position: sticky;
  margin: 0;
  top: 25%;
}
